<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hellochen.cjk_qq">
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_qq"
        android:label="QQ"
        android:roundIcon="@mipmap/ic_qq"
        android:supportsRtl="true"
        android:theme="@style/Theme.CJK_QQ">
        <activity android:name=".user.QueryUser"
            android:label="用户查询"/>

        <activity android:name=".Login.ForgetPassword" />
        <activity android:name=".Login.Register" />
        <activity
            android:name=".MainActivity"
            android:label="Home" />
        <activity android:name=".MyActivity" />
        <activity android:name=".Login.Login"/>
        <activity android:name=".wechat.SmartRoot"
            android:label="聊天机器人" />
        <activity android:name=".exam.examActivity"
            android:label="考试" />

        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>